asgiref==3.5.2
dj-database-url==1.0.0
Django==4.0.6
django-appconf==1.0.5
django-ckeditor==6.4.2
django-environ==0.9.0
django-filter==22.1
django-imagekit==4.1.0
django-js-asset==2.0.0
django-taggit==3.0.0
django-views==1.0.1
environ==1.0
pilkit==2.0
Pillow==9.2.0
psycopg2-binary==2.9.3
six==1.16.0
sqlparse==0.4.2
